# ignores that specific file #
filetoignore.html

# ignores the file in the specified folder of src #
src/anotherfiletoignore.html

# ignores all files in this folder #
images/*

# BUT it excludes a specific file in that folder, so this one wont be exluded #
!images/keepme.jpg

# Ignores all files with the specified extension like .zip #
*.zip
```